body {
background-color: #242926
}

@font-face {
    font-family: 'Alegre Sans';
    src: url('Alegre.ttf');
}
@font-face {
    font-family: 'Hedvig Letters';
    src: url('Hedvig.ttf');
}
@keyframes redblue {
  0% {
      background-color: #f74f4f;
  }
  50% {
      background-color: #4f79f7;
  }
  100% {
      background-color: #f74f4f;
       }
}
b {
  color: #c2c4c3;
  text-align: center;
  font-size: 105px;
  display: inline-block;
  animation-name: redblue;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  width: 100%;
  font-family: Alegre Sans, sans-serif;

}

h1 {
    color: #ffffff;
    text-align: center;
    width: 100%
    display: inline-block;
    font-size: 25px;
    font-family: Hedvig Letters, sans-serif

}

h2 {
    color: #ffffff;
    text-align: center;
    width: 100%
    display: inline-block;
    font-size: 10px;
    font-family: Hedvig Letters, sans-serif

}

